.api-post-conten {
  color: #333;

  h3 {
    margin: 0;
    margin-bottom: 10px;
    color: #333333;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 700;
    line-height: 24px;
  }
}

.api-post-conten-image {
  float: left;
  width: 275px;

  div {
    width: 254px;
    height: 260px;
    max-height: 250px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
}

.api-post-conten-text {
  float: left;
  width: 72%;
  height: 250px;
}

.api-post-conten-text-full {
  float: left;
  width: 100%;
}

.api-bottom-post {
  clear: both;
  margin-bottom: 23px;
}

.api-post-hr {
  margin-bottom: 22px;
  color: #eeeeee;
}

.bottom-readmore {
  text-align: center;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  height: 36px;
  background-color: #222222;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
}

.pagination {
  margin: auto;
  text-align: center;
  display: block;
  width: 245px;
  color: #333;
  margin-top: 70px;

  .page-numbers {
    border: 1px solid #333;
    border-radius: 19px;
    display: block;
    width: 25px;
    height: 25px;
    text-align: center;
    float: left;
    line-height: 26px;
    text-decoration: none;
    margin-right: 10px;
    padding: 5px;
    padding-right: 6px;
  }

  .current {
    background: #23a0bf;
    color: #fff;
    border: 0;
  }

  .dots {
    border: 0;
    position: relative;
    top: 10px;
  }
}

.api-body-post {
  margin-bottom: 50px;

  h1 {
    text-align: center;
  }
}

.api-buttom-link {
  text-decoration: none;
}

.api-category-post {
  color: #b5b5b5;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;

  span {
    color: #000;
  }
}

.api-post-content-div{
  color: #333333;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.35px;
}